*{
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: RefugioFont;
    src: url(BebasNeue-Regular.woff);
    font-weight: bold;
}

.li-comment{
    list-style: none;
}

html{
    font-family: Roboto, sans-serif;
}

ul li a, header a {
    text-decoration: none !important;
    padding: 10px;
}

a, a:visited{
    color: rgb(221, 218, 218)!important;
}

.navegador li, h1{
    transition: transform .2s;
    margin: 0 10px;
}

.navegador li:hover, h1:hover{
    transform: scale(1.2);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    position: fixed;
    width: 100%;
    color: rgb(230, 227, 227);
}

.d-flex{
    width:100%;
}
.nav-link{
    justify-content: flex-end;
}
.header.dark{
    background-color: rgba(0, 0, 0, 0.918);
    position: static;
    color: rgb(230, 227, 227);
}

#logo{
    text-align: center;
    padding: 15px 20px;
    width:500px;
}

#logo h1{
    font-family: RefugioFont, sans-serif;
    font-size: 50px;
}

#pie-logo{
    font-size: 20px;
    letter-spacing: 2.5px;
}

#nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 15px;
}


.page-container{
    background-image: url("https://t.ly/t5KC"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.content{
    height: 650px;
}

footer{
    display: flex;
    flex-direction: column;
    height: 310px;
    background-color: rgba(0, 0, 0, 0.918);
    color:rgb(230, 227, 227);
    justify-content: space-between;
    padding: 25px;  
}

.footer-top{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    height: 80%;
    align-items: baseline;
}

.submit-btn{
    text-align: center;
}

/**/

#btn-check{
    background-color: rgba(0, 0, 0, 0.918);
    width:50%;
    color:  rgb(230, 227, 227);
    padding: 5px;
    font-weight: 150px;
    border-radius: 5px;
    margin-top: 10px;
}

#btn-check:hover{
    cursor: pointer;
}


.informacion-empresa{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 150px;
}

.informacion-empresa li{
    list-style: none;
    padding: 10px 15px;
    text-align: justify; /*Era right, lo cambié para que quede al medio*/
    align-items: center;
}

.datos-empresa{
    width: 80%;
    margin-right: 60px;
}

#logo-footer{
    width: 120px;
    height: 120px;
}

#footer-bottom{
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
    content: auto;
    margin: 0 100px;
}

.creadores{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rights{
    text-transform: uppercase;
}

.redes-sociales{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.redes{
 padding: 5px;
}

.company ul li{
    list-style: disc;
}

th, .title-innerpg{
    text-align: left;     
    font-size: 30px;
    width: 205px;
    border: none;
    padding-bottom: 20px;
}

td{
    border: solid black;
    padding: 35px;
}

table{
    border-spacing: 0;  
    border-collapse: collapse;
    height: 100%;
}

.container{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 30px 0;
}

.company{
    justify-content: center;
    width: 100%;
}


#tabla-category{
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}

.txtDiv{
    width: 45%;
    padding: 0px 75px;
    text-align: justify;
}

.hProduct{
    margin: 0px;
    width: 60%;
}

.wrapperProduct{
    width: 25%;
}

.pProduct{
    width: 100%;
    margin: 0px;
}

.imgStaff{
    width: 100%;
    height: auto;
}

.imgDiv{
    width: 45%;
    padding: 0px 75px;
}

.figProduct{
    width: 350px;
    height: 350px;
}

.imgProduct{
    width: 90%;
    padding-left: 10%; 
    padding-right: 0;
}

p{
    padding: 10px 0px;
}

i{
    color:darkgray;
}
i:hover{
    color: rgb(58, 51, 51);
}

.black, .black:visited{
    color: rgb(100, 95, 95) !important;
    font-weight: bold !important;
}

.black:hover{
    color: black !important;
    text-decoration: none;
}
